extends layout 

block content 
  h2 #{title}

  if flashErrors 
    div.errors #{flashErrors}

  form(method='POST' action='')
    .form-group 
      label(for='email') Email: 
      input(type='text', id='email' name='email' value=(email === undefined ? '' : email))
      label(for='password') Password: 
      input(type='password', id='password', name='password')
    button(type='submit') Log in

  a(href='/') Go Back

  if errors 
    ul.errors 
      for error in errors 
        li #{error.msg}

  